body {
    font-family: Arial;
    text-align: center;
    background: #f0f0f0;
    margin-top: 60px;
}

#box {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

#result, #best {
    font-size: 18px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}